* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  height: 80px;
  background-size: 100%;
  background-image: url(../assets/img/banner/baner-inicio2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 18px; }

marquee {
  background-color: rgba(247, 6, 6, 0.219); }
  marquee span {
    padding: 50px; }

h1 {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  font-size: 30px; }

.container-card {
  width: 100%;
  height: 378px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto; }
  .container-card .card {
    width: 200px;
    height: 350px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s; }
  .container-card .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }
  .container-card image {
    width: 330px;
    height: 220px; }
  .container-card p {
    padding: 0 1rem;
    font-size: 15px;
    margin-top: 5px; }
  .container-card a {
    text-decoration: none;
    width: 80px;
    background-color: rgba(19, 18, 18, 0.459);
    margin-bottom: 5px;
    padding: 3px;
    color: #eed7d7;
    border-radius: 7px;
    text-align: center; }
  .container-card a:hover {
    background-color: antiquewhite;
    color: black; }

.boton-whats {
  position: fixed;
  margin-bottom: 50px;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  text-align: center;
  font-size: 30px;
  z-index: 100; }

.boton-whats:hover {
  transform: scale(1.4); }

footer {
  width: 100%;
  padding: 20px;
  background-color: rgba(226, 98, 98, 0.459);
  display: flex;
  justify-content: flex-end;
  gap: 10px; }
  footer h3 {
    display: inline-block;
    margin: 10px;
    font-size: 15px;
    font-family: 'Roboto Slab', serif; }
  footer a {
    margin: 7px; }

.carousel-item {
  padding: 39px; }

.leyenda-card {
  display: flex;
  gap: 10px;
  padding: 10px;
  text-align: center; }
  .leyenda-card .boton-compra-maceta {
    text-decoration: none;
    width: 80px;
    background-color: rgba(19, 18, 18, 0.459);
    padding: 3px;
    color: #eed7d7;
    border-radius: 7px;
    text-align: center; }
  .leyenda-card .boton-compra-maceta:hover {
    background-color: antiquewhite;
    color: black; }

.carousel-control-prev {
  margin-left: 400px; }

.carousel-control-next {
  margin-right: 400px; }

h1 {
  font-family: 'Roboto Slab', serif; }

.container-card-mates {
  display: flex;
  position: relative;
  justify-self: center;
  gap: 20px;
  width: 100%;
  max-width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  padding: 25px;
  gap: 20px; }
  .container-card-mates .card-mate {
    width: 230px;
    height: 350px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s; }
  .container-card-mates .card-mate:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }
  .container-card-mates .boton-compra {
    text-decoration: none;
    width: 80px;
    background-color: rgba(19, 18, 18, 0.459);
    padding: 3px;
    color: #eed7d7;
    border-radius: 7px;
    text-align: center; }
  .container-card-mates .boton-compra:hover {
    background-color: antiquewhite;
    color: black; }
  .container-card-mates .container-cards-mates {
    text-align: center; }

.container-card-sets {
  width: 100%;
  height: 410px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto; }
  .container-card-sets .card-sets {
    width: 200px;
    height: 340px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s; }
  .container-card-sets .card-sets:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }
  .container-card-sets a {
    text-decoration: none;
    width: 80px;
    background-color: rgba(19, 18, 18, 0.459);
    padding: 3px;
    color: #eed7d7;
    border-radius: 7px;
    text-align: center; }
  .container-card-sets a:hover {
    background-color: antiquewhite;
    color: black; }

h1 {
  font-family: 'Roboto Slab', serif;
  margin-top: 20px; }

.container-card-bandejas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 35px;
  width: 100%; }
  .container-card-bandejas .estilo-bandeja {
    gap: 50px; }
  .container-card-bandejas .card-bandeja {
    width: 250px;
    height: 350px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s; }
  .container-card-bandejas .card-bandeja:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }
  .container-card-bandejas .container-cards {
    text-align: center; }
  .container-card-bandejas .boton-compra-bandeja {
    text-decoration: none;
    width: 80px;
    background-color: rgba(19, 18, 18, 0.459);
    padding: 3px;
    color: #eed7d7;
    border-radius: 7px;
    text-align: center; }
  .container-card-bandejas .boton-compra-bandeja:hover {
    background-color: antiquewhite;
    color: black; }

.main-contacto {
  height: 78vh;
  width: 100%;
  background-image: url(../assets/img/banner/fondo-formulario.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed; }
  .main-contacto .form {
    background-color: rgba(0, 0, 0, 0.6);
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px; }
  .main-contacto .form-title {
    font-weight: bolder;
    padding: 14px; }
    .main-contacto .form-title span {
      color: violet; }
  .main-contacto .form-label {
    display: block;
    font-size: 16px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative; }
  .main-contacto .form-textarea {
    background: rgba(0, 0, 0, 0.7);
    border: none;
    outline: none;
    border-bottom: 2px solid violet;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: white; }
  .main-contacto .form-input {
    background: rgba(0, 0, 0, 0.7);
    border: none;
    outline: none;
    border-bottom: 2px solid violet;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: white; }
  .main-contacto .btn-submit {
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
    font-size: 16px;
    border: none;
    padding: 5px 0;
    cursor: pointer; }
  .main-contacto .btn-submit:hover {
    background-color: violet; }

@media (max-width: 768px) {
  .container-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 100px;
    width: 100%;
    height: 800px; }
  .carousel-item {
    padding: 192px; }
  .container-card-mates {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .container-card-bandejas {
    padding: 209px; }
  .container-card-sets {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 800px;
    padding-left: 100px;
    padding-bottom: 50px; }
  .container-fluid {
    padding-bottom: 300px; }
  .container-card-sets {
    width: 100%;
    height: 100%;
    margin-top: 100px; }
  .main-contacto {
    width: 100%;
    height: 600px; }
  .carousel-control-prev {
    margin-left: 50px; }
  .carousel-control-next {
    margin-right: 50px; } }

@media (max-width: 576px) {
  .container-card {
    display: flex;
    padding-left: 20px;
    height: 1100px;
    margin-top: 50px; }
  .carousel {
    height: 700px;
    margin-top: 2px; }
  .titulo-destacados {
    padding-right: 50px; }
  .main-contacto {
    width: 100%;
    height: 1230px;
    margin-top: 20px;
    padding-top: 100px; }
  .container-card-bandejas {
    padding: 100px; }
  .container-card-sets {
    padding-right: 70px; } }

@media (max-width: 360px) {
  .dropdown-menu {
    background-color: rgba(144, 238, 144, 0.459);
    font-weight: bolder; }
  .nav-item {
    background-color: rgba(238, 20, 53, 0.788); }
  .container-card {
    padding-left: 60px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 100%; }
  .footer-redes {
    display: flex;
    padding-left: 60px; }
  .navbar {
    display: grid;
    justify-content: center; }
  .container-card-mates {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
  .container-card-bandejas {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 70px; }
  .container-card-sets {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 70px;
    height: 100%; }
  .titulo-destacados {
    margin-left: 45px; }
  .carousel-item {
    padding: 1px; }
  .carousel-control-prev {
    margin-left: 10px; }
  .carousel-control-next {
    margin-right: 10px; } }
