@import "./utilities/variables";
@import "./base/reset";
@import "./layout/header";
@import "./layout/main-index";
@import "./layout/footer";
@import "./layout/main-mecetas";
@import "./layout/main-mates";
@import "./layout/main-sets";
@import "./layout/main-bandejas";
@import "./layout/main-contacto";
@import "./layout/media-tablet";
