footer{
    width: 100%;
    padding: 20px;
    background-color: rgba(226, 98, 98, 0.459);
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    h3{
    display: inline-block;
    margin: 10px;
    font-size: 20px;
}
a{
    margin: 7px;
}

}