header {
    height: 80px;
    background-size: 100%;
    background-image: url(../assets/img/banner/baner-inicio2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    font-size: 18px;
}