h1{
    font-family: 'Roboto Slab', serif;
    margin-top: 20px;
}
.container-card-bandejas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 57px;
    width: 100%;
    .estilo-bandeja{
        gap: 50px;
    }
    .card-bandeja{
        width: 250px;
        height: 300px;
        border-radius: 8px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        margin: 20px;
        text-align: center;
        transition: all 0.25s;
    }
    .card-bandeja:hover{
        transform: translateY(-15px);
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    }
.container-cards{
    text-align: center;
}
.boton-compra-bandeja{
    text-decoration: none;
    width: 80px;
    background-color: $background-boton-compra;
    padding: 3px;
    color: $color-letra-boton-compra;
    border-radius: 7px;
    text-align: center;
}
.boton-compra-bandeja:hover{
    background-color: antiquewhite;
        color: black;
}
}
