h1{
    font-family: 'Roboto Slab', serif;
}
.container-card-mates{
    display: flex;
    position: relative;
    justify-self: center;
    gap: 20px;
    width: 100%;
    max-width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    padding: 25px;
    gap: 20px;
       .card-mate{
        width: 230px;
        height: 350px;
        border-radius: 8px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        margin: 20px;
        text-align: center;
        transition: all 0.25s;
       }
       .card-mate:hover{
        transform: translateY(-15px);
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
       }
    .boton-compra{
        text-decoration: none;
        width: 80px;
        background-color: $background-boton-compra;
        padding: 3px;
        color: $color-letra-boton-compra;
        border-radius: 7px;
        text-align: center;
        }
        .boton-compra:hover{
            background-color: antiquewhite;
        color: black;
        }
        .container-cards-mates{
            text-align: center;
        }
    }
